.top
  .top__sign
    - if user_signed_in?
      / ユーザーがログインしているか調べる
      / ユーザーがログインしていた時の処理
      .top__sign__button
        %button.btn.btn-primary.btn-lg.mr-3{type:"button"}
          %i.fa.fa-user-plus{"aria-hidden":"true"}>
          = link_to "旅行企画", new_plan_path
        %button.btn.btn-danger.btn-lg{type:"button"}
          %i.fa.fa-sign-in{"aria-hidden":"true"}
          = link_to "ログアウト", destroy_user_session_path, method: :delete
    - else
      / ユーザーがログインしていなかった時の処理
      .top__sign__button
        %button.btn.btn-primary.btn-lg.mr-3{type:"button"}
          %i.fa.fa-user-plus{"aria-hidden":"true"}
          = link_to "新規登録", new_user_registration_path, class: 'post'
        %button.btn.btn-danger.btn-lg{type:"button"}
          %i.fa.fa-sign-in{"aria-hidden":"true"}>
          = link_to "ログイン", new_user_session_path
  .top__plans
    %h2.text-center 新着旅行企画
    %hr.mb-5
    .row
      - @recent_plans.each do |plan|
        .col-md-3.mb-5
          =image_tag plan.image.to_s
          %h3.pl-1
            = link_to plan_path(plan) do
              = plan.title
